qwen-tts==0.1.1
transformers==4.57.3
accelerate==1.12.0
tokenizers==0.22.2
huggingface-hub==0.36.2
diffusers==0.35.2
librosa==0.11.0
soundfile==0.13.1
soxr==0.5.0.post1
scikit-learn==1.8.0
pooch==1.8.2
lazy-loader==0.4
joblib==1.5.3
audioread==3.1.0
sox==1.5.0
threadpoolctl==3.6.0
importlib_metadata==9.0.1
decorator==5.3.1
zipp==4.1.0
msgpack==1.2.3
platformdirs==4.12.2
